*{
    font-family: Montserrat;
    font-size: 18px;
    text-align: center;
    text-decoration:none;
}
body{
    background-image: url(img/22293-oscuros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    color: black;
    font-size: 80px;
}
.sublogo{
    color:black;
    font-size: 25px;
}
nav{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 3px;
    background-size: auto;
    padding: 15px;
    
}
a{
    color:black;
    padding-left: 30px;
    padding-right: 30px;
}
.setone{
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 4px;
    width: 700px;
    display: inline-block;
    padding: 12px;
    margin: 12px;
}
.setctwo{
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 4px;
    background-size: auto;
}
h3,h5{
    color:#62152d;
}
nav a:hover{
    background-color: #62152d;
    color:azure;
    border-radius: 5px;
}
.setctwo i:hover{
    background-color: #cb4c46;
    width: 55px;
    color: black;
    border-radius: 100px;
}
.redes a:hover{
    color:azure;
}
.setcfour button{
    background-color:#62152d;
    color:azure;
    border-radius: 15px;
    width: 200px;
}
.setcfour button:hover{
    border-color: #cb4c46;
}
.pro i{
    color: azure;
    font-size: 36px;
}
.pro{
    display: inline-table;
    background-color: #62152d;
    color: azure;
    margin: 12px;
    border-radius: 15px;
    width: 150px;
    height: 190px;
}
.pro:hover{
    box-shadow: 5px 5px #cb4c46;

}
.edit{
    display: inline-flex;
    background-color: #62152d;
    color: azure;
    margin: 12px;
    border-radius: 15px;
    width: 170px;
}
.edit:hover{
    box-shadow: 5px 5px #cb4c46;
}
footer{
    background-color:black;
    color: azure;
}
footer button{
    border-radius: 6px;
    border-color: #cb4c46;
}
.formulario{
    display: inline-table;
}
li a{
    color: #cb4c46;
    list-style: none;
}
address{
    display: inline-block;
    color: azure;
}